
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Index";
}
<link href="~/css/View/Produto/style.css" rel="stylesheet" />
<div class="d-flex align-items-center flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <h1>Gerenciador do Produto</h1>
    </div>
    <div class="d-flex justify-content-center">

        <form>
            <input type="hidden" id="id" value="0" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" id="nome" />
                </div>
                <div class="form-group col-md-6">
                    <label for="preco">Preço</label>
                    <input class="form-control" type="text" id="preco" />
                </div>
            </div>

            <div class="form-row">


                <div class="form-group col-md-12">
                    <label for="imagem">Imagem</label>
                    <input class="form-control" type="file" id="imagem" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="categorias">Categorias</label>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">

                    <select class="form-control" id="categorias">
                        <!--AJAX-->
                    </select>

                </div>
                <div class="form-group col-md-6">

                    <input class="form-control btn btn-outline-success" type="button" value="+" id="btnAdicionarCategoria" />
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <div id="divChipCategoria" class="chip">

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input style="width: 100%;" type="button" class="btn btnHeader" value="Salvar" id="btnSalvar" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />

        </form>


    </div>
</div>
<script src="~/js/View/Produto/adcProduto.js"></script>


