
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Index";
}
    <div class="d-flex align-items-center flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <h1>Catalogo de Produtos</h1>
        </div>
        <div id="produtos" class="p-2 bd-highlight">

        </div>
        <!--
    <div style="width:500px; background-color:#e8e8e8">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-shrink-1 bd-highlight">
                <img src="~/images/sem_imagem.jpg" />
            </div>
            <div class="p-2 w-100 bd-highlight">
                <div style="height:50%;">
                    <a>Nome</a>
                </div>
                <div style="height:50%;">
                    <a>Preço</a>
                </div>
            </div>

        </div>

    </div>-->
    </div>
        <script src="~/js/View/Produto/catalogoProduto.js"></script>


