@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">

        <div class="col-sm d-flex justify-content-center">
            <div class="loginAdm ">
                <h2>Login Administrativo</h2>
                <form class="form-signin" method="post">
                    <div class="form-label-group">
                        <input type="email" id="inputEmailAdmn" data-admin="true" name="email" class="form-control" placeholder="Email" required autofocus>

                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPasswordAdmn" name="senha" class="form-control" placeholder="Senha" required>

                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Lembrar-me</label>
                    </div>




                    <input type="button" class="btn btn-lg btn-primary btn-block text-uppercase" id="btn-loginAdm" value="Entrar" />
                    <div id="divMsgs">

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="~/css/View/Admin/style.css" />
<link rel="stylesheet" href="~/css/View/Home/style.css" />
<script src="~/js/View/Admin/login.js"></script>